body {
    background-color:aliceblue;
     margin: 0;
     padding: 0;
     box-sizing: border-box;}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: pink;
    padding: 5px;
    background-color: aliceblue;
}

    h1{font-size: 15px;}